{% extends 'layout.html.twig' %}

{% block content %}
<nav>
    {% for loc, log in logs %}
    <a href="{{ loc }}"><time>{{ log.date|date('Y-m-d') }}</time>{{ log.title }}</a>
    {% endfor %}
</nav>
    <!-- generated:index: {{ now|date('Y-m-d H:i:s') }} -->
{% endblock %}