
parameters:
    cache_log: 86400 # seconds
    cache_sitemap: 0 #forever
    meta:
         title: ''
         generator: ''
         keywords: ''
         description: ''
         author: ''
         slogan: ''
    #
    web_dir: '%kernel.root_dir%/../web'
    logs_dir: '%kernel.root_dir%/../logs'
    sitemap_filename: '%web_dir%/sitemap.xml'

framework:
    secret: S0ME_SECRET
    templating:
        engines: ['twig']
    profiler: { only_exceptions: false }
    cache:
        # auto service as 'cache.app'
        app: cache.adapter.filesystem
        pools:
        # TODO: doesnt work (no service) in microF. why?
            cache.app.log:
                adapter: cache.adapter.filesystem
                default_lifetime: 5

services:
    app.mytwig_extension_helper:
        class: 'App\Twig\TwigExtension'
        public: false
        tags:
            - { name: 'twig.extension' }
    app.sitemap:
        class: 'App\Sitemap'
        public: true
        arguments: ['%sitemap_filename%', '%logs_dir%', '@request_stack']

twig:
    globals:
        web_dir: %web_dir%
        meta: '%meta%'